<html>
<body>
  <div id="container" style="width:100%;">                                   
  <div id="left" style="float:left; width:30%;">
      This is left panel <br>
      <button type="button">Events Near Me</button><br>
      <button type="button">Events Starting Soon</button><br>
      <button type="button">Events Friends are Attending</button><br>
      <button type="button">Establishments Open Now</button><br>
      <button type="button">Add Event</button><br>
   </div>                     
  <div id="right" style="float:right; width:70%;"> This is right panel </div>                   
</div>
</body>
</html>